extends layouts/main

block content
    h2 Kontakt! 
    h3 Email 
    p randommail@gmail.com
    h3 im Büro
    p 
        | Some Company
        br
        | Some Street 69
        br
        | 12345 Citytown